Uber-Client/.gradle/
Uber-Client/.idea/
Uber-Client/build/
Uber-Client/src/main/resources/uber.properties
Uber-Client/gradle/
Lyft-Client/.gradle/
Lyft-Client/.idea/
Lyft-Client/build/
Lyft-Client/gradle/
Lyft-Client/src/main/resources/lyft.properties
Lyft-Client/src/test/resources/lyft.properties
QueryAPIAndStoreCSV/.gradle/
Lyft-Client/Lyft-Client.iml
QueryAPIAndStoreCSV/.idea/
QueryAPIAndStoreCSV/build/
QueryAPIAndStoreCSV/gradle/
nyc-yellow-taxi-analytics/bin/
nyc-yellow-taxi-analytics/.settings/org.eclipse.core.resources.prefs
Uber-Client/Uber-Client.iml
nyc-yellow-taxi-analytics/.cache-main
nyc-yellow-taxi-analytics/.classpath
nyc-yellow-taxi-analytics/.project
nyc-yellow-taxi-analytics/metastore_db/
nyc-yellow-taxi-analytics/project/target/config-classes/
nyc-yellow-taxi-analytics/target/
nyc-yellow-taxi-analytics/derby.log
lyft-analytics/.classpath
lyft-analytics/.project
lyft-analytics/.settings/org.eclipse.core.resources.prefs
lyft-analytics/.settings/org.scala-ide.sdt.core.prefs
lyft-analytics/project/
lyft-analytics/results.tx~
lyft-analytics/target/
uber-analytics/project/
uber-analytics/.classpath
uber-analytics/.project
uber-analytics/.settings/org.eclipse.core.resources.prefs
uber-analytics/.settings/org.scala-ide.sdt.core.prefs
uber-analytics/result.txt~
uber-analytics/target/
nyc-yellow-taxi-analytics/results.txt~
QueryAPIAndStoreCSV/QueryAPIAndStoreCSV.iml
nyc-yellow-taxi-analytics/.settings/org.scala-ide.sdt.core.prefs
