Uber-Client/.gradle/
Uber-Client/.idea/
Uber-Client/build/
Uber-Client/src/main/resources/uber.properties
Uber-Client/gradle/
Lyft-Client/.gradle/
Lyft-Client/.idea/
Lyft-Client/build/
Lyft-Client/gradle/
Lyft-Client/src/main/resources/lyft.properties
Lyft-Client/src/test/resources/lyft.properties
QueryAPIAndStoreCSV/.gradle/
Lyft-Client/Lyft-Client.iml
QueryAPIAndStoreCSV/.idea/
QueryAPIAndStoreCSV/build/
QueryAPIAndStoreCSV/gradle/
